[submodule "submodules/RtAudio/src"]
	path = submodules/RtAudio/src
	url = https://github.com/thestk/rtaudio
[submodule "submodules/RtMidi/src"]
	path = submodules/RtMidi/src
	url = https://github.com/thestk/rtmidi
[submodule "submodules/emu2149/src"]
	path = submodules/emu2149/src
	url = https://github.com/rerrahkr/emu2149
	branch = opna-ssg
