[Desktop Entry]
Name=BambooTracker
GenericName=OPNA Tracker
GenericName[jp]=OPNAのトラッカーです
GenericName[fr]=Tracker OPNA
Comment=A tracker for the YM2608 (OPNA), which was used in NEC PC-8801/9801 series of computers
Comment[jp]=このアプリケーションはNEC PC-8801/9801シリーズに搭載されていたFM音源YM2608(OPNA)向けのトラッカーです。
Comment[de]=Ein Tracker für den YM2608 (OPNA), welcher in NECs PC-8801/9801 Serien an Computern verwendet wurde
Comment[fr]=Un tracker pour le YM2608 (OPNA), qui fut utilisé dans la séries d'ordinateurs NECs PC-8801/9801
Exec=BambooTracker
Icon=BambooTracker
Terminal=false
Type=Application
Categories=AudioVideo;AudioVideoEditing;
Keywords=tracker;music;
