[Desktop Entry]
Name=BambooTracker
Comment=Tracker for YM2608 (OPNA) which was used in NEC PC-8801/9801 series computers
Exec=BambooTracker
Icon=BambooTracker
Terminal=false
Type=Application
Categories=AudioVideo;AudioVideoEditing;
Keywords=tracker;music;
